# Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Model and large files
*.pt
*.pth
*.safetensors
saved_model/
models/
checkpoints/

# Other files to ignore
*.zip
*.tar
*.gz
